
<style>   
      ul {
 list-style-type:none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: hotpink;
}

li a {
  display: block;
  color: green;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: pink;
  color: white;
}                                         

 </style>
</html>

 
