
 
     li.navbar {
  float: left;
  display: inline;
  list-style-type: none;
  background-color: lightgreen;
  width: 100%;
}  
li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}
li a:hover{
  background-color: lightpink;
}
           


 
